body {
    position: relative;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #001324;
}

/**
 * Tailwind CSS Imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *:focus, *:focus-visible {
        @apply outline-primaryHover;
        @apply outline-1;
        @apply rounded-sm;
    }

    header *:focus, header *:focus-visible {
        @apply outline-black;
        @apply border-black;
    }

    .blog-root-container + aside {
        display: none;
    }

    main {
        @apply container;
        @apply mx-auto;
        @apply mb-5;
    }

    aside h2 {
        @apply mt-4;
    }

    @media screen and (min-width: 1024px) {
        .root-container {
            @apply flex;
            @apply flex-row;
        }

        .blog-root-container + aside,
        main + aside {
            @apply w-2/3;
        }

        aside {
            @apply w-1/3;
        }

        aside h2 {
            @apply mt-4;
        }
    }

    h1, h2, h3, h4, p, a, small {
        @apply text-textOnCanvas;
        @apply font-sans;
        @apply subpixel-antialiased;
        @apply mx-2;
    }

    h1 {
        @apply text-3xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply my-4;
    }

    h2 {
        @apply text-2xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-3;
    }

    h3 {
        @apply text-xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-2;
    }

    h4 {
        @apply text-lg;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-2;
    }

    p {
        @apply text-lg;
        @apply font-light;
        @apply tracking-tight;
        @apply mb-2;
    }

    small {
        @apply block;
        @apply text-base;
        @apply font-light;
        @apply tracking-wide;
        @apply mb-4;
    }

    p b {}

    p a {
        @apply inline-block;
        @apply m-0;
    }

    a {
        @apply text-xl;
        @apply font-normal;
        @apply tracking-tight;
        @apply text-primaryEnabled;
        @apply border-none;
        @apply outline-none;
        @apply m-0;
    }

    a:link {}

    a:visited {}

    a:hover {
        @apply text-primaryHover;
    }

    a:active {}

    ul {}

    ul li {
        @apply text-white;
        @apply list-disc;
        @apply ml-8;
    }

    header {
        @apply flex;
        @apply flex-row;
        @apply justify-between;
        @apply items-end;
        @apply min-h-[60px];
        @apply bg-uiCanvas;
    }

    header nav {
        display: none;
    }

    .hamburger-button {
        @apply m-4;
    }

    @media screen and (min-width: 641px) {
        header nav {
            display: initial;
        }

        header nav ul {
            @apply flex;
            @apply flex-row;
            @apply items-center;
        }

        header nav li {
            @apply list-none;
        }

        header nav ul li[aria-current=true] a {
            @apply font-bold;
            @apply text-primaryEnabled;
            @apply border-b-primaryEnabled;
            @apply border-b-2;
            @apply border-solid;
            @apply pb-2;
        }

        header nav ul li a {
            @apply text-xl;
            @apply text-textOnCanvas;
        }

        header nav ul li a:link {
        }

        header nav li a:visited {}

        header nav li a:hover {
            @apply text-textOnCanvas;
        }

        header nav li a:active {}

        .hamburger-button {
            display: none;
        }
    }

    .drawer {
        @apply absolute;
        @apply bg-uiCanvas;
        @apply top-0;
        @apply right-0;
        @apply bottom-0;
        @apply left-0;
    }

    .drawer button span {
        @apply text-primaryHover;
    }

    .drawer ul li {
        @apply list-none;
        @apply m-0;
        @apply p-4;
    }

    .drawer ul li a {
        @apply text-textOnCanvas;
    }

    .drawer ul li[aria-current="true"] a {
        @apply text-primaryEnabled;
        @apply font-bold;
        @apply border-b-primaryEnabled;
        @apply border-b-2;
        @apply border-solid;
        @apply pb-2;
    }

    .breadcrumb-wrapper {
        @apply container;
        @apply mx-3;
        @apply py-3;
    }

    @media screen and (min-width: 1024px) {
        .breadcrumb-wrapper {
            @apply mx-auto;
        }
    }

    .breadcrumbs {
        @apply flex;
        @apply flex-row;
    }

    .breadcrumbs li {
        @apply text-lg;
        @apply text-textOnCanvas;
    }

    .breadcrumbs li:before {
        content: "/";
        @apply px-3;
    }

    .breadcrumbs li:first-child:before {
        content: "";
        @apply px-0;
    }

    .breadcrumbs li a {
        @apply text-lg;
        @apply ml-0;
        @apply underline;
        @apply text-primaryEnabled;
    }

    .article-link {
        @apply flex-1;
        @apply box-border;
        @apply p-2;
    }

    .article-link article {
        @apply rounded-lg;
        @apply border;
        @apply bg-uiMaterial;
        @apply border-gray-700;
        @apply hover:cursor-pointer;
    }

    .article-link article:hover {
        @apply bg-uiMaterialHover;
    }

    .article-link article h2 {
        @apply first-letter:uppercase;
        @apply tracking-tighter;
        @apply mt-1;
    }

    .article-link article p {
        @apply first-letter:uppercase;
        @apply tracking-tighter;
    }

    .article-link article p::after {
        content: "...";
    }

    .hero-heading {
        @apply text-center;
    }

    .hero-description {
        @apply text-center;
    }

    .home-blog {
        @apply w-full;
    }

    .home-articles {
        @apply flex;
        @apply flex-col;
        @apply gap-1;
    }

    @media screen and (min-width: 1024px) {
        .home-articles {
            @apply flex-row;
        }
    }

    .home-blog > a:last-child {
        @apply box-border;
        @apply block;
        @apply w-full;
        @apply text-xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply box-border;
        @apply m-0;
        @apply mt-2;
        @apply text-center;
        @apply block;
        @apply border-primaryEnabled;
        @apply border-[1px];
        @apply border-solid;
        @apply text-primaryEnabled;
        @apply subpixel-antialiased;
        @apply p-3;
        @apply rounded-lg;
    }

    .home-blog > a:last-child:focus,
    .home-blog > a:last-child:focus-visible {
        @apply shadow-none;
    }

    .home-blog > a:last-child:hover {
        @apply border-primaryHover;
        @apply border-solid;
        @apply bg-uiMaterialHover;
        @apply text-primaryHover;
        @apply shadow-xl;
    }

    .card.author {
        @apply bg-primaryEnabled;
        @apply rounded-3xl;
        @apply p-4;
    }

    .card.author h2, .card.author p {
        @apply text-textOnPrimary;
    }
}