body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: rgb(31 41 55);
}

/**
 * Tailwind CSS Imports
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    *:focus, *:focus-visible {
        @apply outline-indigo-300;
        @apply outline-1;
        @apply border-indigo-300;
        @apply rounded-sm;
    }

    header *:focus, header *:focus-visible {
        @apply outline-black;
        @apply border-black;
    }

    main {
        @apply container;
        @apply mx-auto;
        @apply mb-5;
    }

    h1, h2, h3, h4, p, a {
        @apply text-white;
        @apply font-sans;
        @apply mx-2;
    }

    h1 {
        @apply text-3xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply my-4;
    }

    h2 {
        @apply text-2xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-3;
    }

    h3 {
        @apply text-xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-2;
    }

    h4 {
        @apply text-lg;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-2;
    }

    p {
        @apply text-lg;
        @apply font-light;
        @apply tracking-tight;
        @apply mb-2;
    }

    p a {
        @apply inline-block;
        @apply m-0;
    }

    a {
        @apply text-xl;
        @apply font-normal;
        @apply tracking-tight;
        @apply text-indigo-300;
        @apply border-none;
        @apply outline-none;
        @apply mb-4;
    }

    a:link {}

    a:visited {}

    a:hover {
        @apply text-indigo-200;
    }

    a:active {}

    header {
        @apply min-h-[60px];
        @apply bg-indigo-500;
    }

    header nav {
        display: none;
    }

    @media screen and (min-width: 641px) {
        header nav {
            display: initial;
        }

        header nav ul {
            @apply flex;
            @apply flex-row;
            @apply items-center;
        }

        header nav li {}

        header nav ul li[aria-current=true] a {
            @apply font-bold;
            @apply text-gray-900;
        }

        header nav ul li a {
            @apply text-xl;
            @apply text-gray-900;
        }

        header nav ul li a:link {
        }

        header nav li a:visited {}

        header nav li a:hover {
            @apply text-gray-900;
        }

        header nav li a:active {}
    }

    article {
        @apply box-border;
        @apply p-2;
        @apply m-2;
        @apply rounded-lg;
        @apply border;
        @apply bg-gray-800;
        @apply border-gray-700;
        @apply hover:cursor-pointer;
    }

    article:hover {
        @apply shadow-xl;
    }

    article:hover a {
        @apply text-indigo-200;
    }

    article h2 {
        @apply first-letter:uppercase;
        @apply tracking-tighter;
        @apply mt-1;
    }

    article p {
        @apply first-letter:uppercase;
        @apply tracking-tighter;
    }

    article p::after {
        content: "...";
    }

    article a {
        @apply text-lg;
        @apply font-bold;
        @apply block;
        @apply mb-1.5;
    }

    .hero-heading {
        @apply text-center;
    }

    .hero-description {
        @apply text-center;
    }

    .home-articles {
        @apply flex;
        @apply flex-col;
        @apply gap-1;
    }


    @media screen and (min-width: 1024px) {
        .home-articles {
            @apply flex-row;
        }
    }

    .home-blog > a:last-child {
        @apply text-xl;
        @apply font-bold;
        @apply tracking-wide;
        @apply mb-2;
        @apply box-border;
        @apply block;
        @apply w-fit;
        @apply bg-indigo-500;
        @apply text-gray-900;
        @apply subpixel-antialiased;
        @apply p-3;
        @apply rounded-lg;
    }

    .home-blog > a:last-child:focus,
    .home-blog > a:last-child:focus-visible {
        @apply shadow-none;
    }

    .home-blog > a:last-child:hover {
        @apply bg-indigo-400;
        @apply text-gray-900;
        @apply shadow-xl;
    }
}